<div class="menu">
  <a href="/me" class="menu-item" data-ripple>
    <span class="label-large">Profile</span>

    <div class="state-layer"></div>
  </a>
</div>
<div class="menu">
  <a href="/logout" class="menu-item" data-ripple>
    <span class="label-large">Log out</span>

    <div class="state-layer"></div>
  </a>
</div>
