<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>
  <%= locals.title%>
</title>
<meta name="title" content="<%= locals.title%>" />
<meta
  name="description"
  content="Musify is a way to listen to millions of songs without having to download them"
/>

<link rel="shortcut icon" href="/images/favicon.svg" type="image/svg+xml" />
<!--
      Google font link
    -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap"
  rel="stylesheet"
/>

<!--
    Material UI symbols
-->
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,0..1,0..200"
/>

<!--
    Custom CSS link
-->
<link rel="stylesheet" href="/css/style.css">

<!--
    Custom JS link
-->
<script type="module" src="/js/script.js"></script>