@import url("./variables.css");
@import url("./reset.css");
@import url("./typography.css");
@import url("./base.css");

.page {
  height: 100dvh;
  padding-inline: var(--space-4);
  padding-block-start: var(--top-bar-height);
  padding-block-end: calc(
    var(--bottom-nav-height) + var(--player-sm-height) + var(--space-4)
  );
  overflow-x: hidden;
  overflow-y: auto;
}
.page:has(.player-sm.hide) {
  padding-block-end: calcl(var(--bottom-nav-height) + var(--space-4));
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 4px;
}
.custom-scrollbar:hover::-webkit-scrollbar-thumb {
  background-color: var(--surface-container-highest);
}
.material-symbols-rounded {
  color: inherit;
  height: 1em;
  width: 1em;
  display: block;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  user-select: none;
  overflow: hidden;
}
:has(> .state-layer) {
  position: relative;
  overflow: hidden;
  isolation: isolate;
  user-select: none;
  -webkit-user-select: none;
}
.ripple,
.state-layer {
  position: absolute;
  inset: 0;
  background-color: var(--state-layer-bg);
  opacity: 0;
  transition: opacity var(--tr-duration-short-2) var(--tr-easing-linear);
  z-index: -2;
}
:has(> .state-layer):hover > .state-layer {
  opacity: 0.08;
}
:has(> .state-layer):is(:focus, :focus-visible, :focus-within, :active) {
  opacity: 0.12;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
.icon-btn {
  width: 40px;
  min-width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  border-radius: var(--radius-full);
  color: var(--on-surface-variant);
  --state-layer-bg: var(--on-surface-variant);
}
.icon-btn[disabled] {
  opacity: 0.38;
  pointer-events: none;
}
.icon-btn.filled {
  background-color: var(--primary);
  color: var(--on-primary);
  --state-layer-bg: var(--on-primary);
}
.icon-btn.filled-tonal {
  background-color: var(--surface-container-highest);
}

/********************************  SEARCH BAR ******************************/
.search-bar {
  position: relative;
  width: 100%;
  height: 56px;
  display: flex;
  align-items: center;
  gap: var(--space-1);
  padding-inline: var(--space-4) var(--space-2);
  margin-block: var(--space-1);
  border-radius: var(--radius-full);
  background-color: var(--surface-container-highest);
}
.search-bar .logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.38);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.search-bar .logo.animate {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  visibility: visible;
  animation: fade-out var(--tr-duration-short-4) 2s forwards;
}
@keyframes fade-out {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    visibility: visible;
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
    visibility: hidden;
  }
}
.search-bar .search-form {
  flex-grow: 1;
}
.search-bar .logo.animate + .search-form {
  opacity: 0;
  visibility: hidden;
  animation: fade-in var(--tr-duration-short-4) 2.2s forwards;
}
@keyframes fade-in {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
    visibility: hidden;
  }
}
.search-bar :where(.search-form, .search-field) {
  height: 100%;
}

.search-bar .search-field {
  padding-inline: var(--space-3);
  color: var(--on-surface);
  --placeholder-color: var(--on-surface-variant);
  --autofill-bg: var(--surface-container-highest);
  --autofill-color: var(--on-surface);
}
.avatar {
  width: 30px;
  height: 30px;
  border-radius: var(--radius-full);
}
.search-bar:has(.search-field:not(:placeholder-shown)) .menu-wrapper,
.search-bar:not(:has(.search-field:not(:placeholder-shown))) .clear {
  display: none;
}
.menu-wrapper {
  position: relative;
}
.menu {
  position: absolute;
  top: 100%;
  right: 0;
  padding-block: var(--space-1);
  background-color: var(--surface-container);
  border-radius: var(--radius-extra-small);
  width: 160px;
  box-shadow: var(--shadow-2);
  transform-origin: top right;
  transform: scale(0.8);
  opacity: 0;
  visibility: hidden;
  transition: var(--tr-duration-short-4) var(--tr-easing-emphasized);
}
.menu-wrapper.active .menu {
  transform: scale(1);
  opacity: 1;
  visibility: visible;
}
.menu-item {
  padding-inline: var(--space-3);
  height: 48px;
  display: flex;
  align-items: center;
  color: var(--on-surface);
  --state-layer-bg: var(--on-surface);
}

.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: var(--top-bar-height);
  background-image: var(--top-bar-gradient);
  padding-inline: var(--space-4);
  display: flex;
  align-items: center;
  transition: var(--tr-duration-short-4) var(--tr-easing-emphasized);
  z-index: 4;
}
.header-hide .top-bar {
  transform: translateY(-100%);
}
.top-bar > .icon-btn {
  display: none;
}
