<!DOCTYPE html>
<html lang="en">
  <head>
    
    <!--
      Meta tags
    -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login | Musify</title>
    <meta name="title" content="" />
    <meta
      name="description"
      content="Musify is a way to listen to millions of songs without having to download them"
    />
    <link rel="shortcut icon" href="/images/favicon.svg" type="image/svg+xml" />

    <!--
      Google font link
    -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap"
      rel="stylesheet"
    />

    <!--
      CSS link
    -->
    <link rel="stylesheet" href="/css/login.css" />
  </head>
  <body>
    <article class="login-page">
      <div class="banner">
        <img
          src="/images/login-banner.jpg"
          width="1080"
          height="1080"
          alt=""
          class="img-cover"
        />
      </div>
      <div class="content">
        <a href="/" class="logo">
          <img
            src="/images/logo.svg"
            width="94"
            height="24"
            alt="Musify logo"
          />
        </a>

        <div class="wrapper">
          <h2 class="title headline-medium">
            <strong>Join us </strong>& embark on an incredible musical
            <strong>journey..!!</strong>
          </h2>
          <a href="/auth" class="btn btn-primary has-icon">
            <img
              src="/images/spotify-on-primary.svg"
              width="18"
              height="18"
              alt="Spotify icon"
            />
            <span class="label-large">Continue with Spotify</span>

            <div class="state-layer"></div>
          </a>
        </div>
        <p class="bottom-text label-large">
          Powered by
          <a href="http://spotify.com" target="_blank" class="link link-primary"
            >Spotify</a
          >
        </p>
      </div>
    </article>
  </body>
</html>
